@font-face {
    font-family: "AzeretMono";
    font-weight: 900;
    font-style: normal;
    src: local("AzeretMono"), 
        url("../fonts/AzeretMono-Bold.woff2") format('woff2'),
        url("../fonts/AzeretMono-Bold.woff") format('woff'),
        url("../fonts/AzeretMono-Bold.eot") format('eot');
    font-display: swap;
}

@font-face {
    font-family: "AzeretMono";
    font-weight: 900;
    font-style: normal;
    src: local("AzeretMono"), 
        url("../fonts/AzeretMono-Regular.woff2") format('woff2'),
        url("../fonts/AzeretMono-Regular.woff") format('woff'),
        url("../fonts/AzeretMono-Regular.eot") format('eot');
    font-display: swap;
}